__pycache__
*/__pycache__
*/*/__pycache__
*.pyc 
*.png
tmp
exp
temp
weights
work_dir
work_dirs
coco128
*.zip
.vscode
exp*
python/jdet/data/devkits/polyiou

eggs/
.eggs/
*.egg-info/
*.egg
dist
develop-eggs/
build/
submit_zips
*.pth
*.jpg
.idea
*.swp
*.pkl
*.pk
*.sh
test_configs
projects/*/test_datas*
!docs/images/vis2.jpg
!docs/images/vis.jpg

tools/analysis_dota.py

submit*
temp*
configs/fair
tools/convert_dataset.py
tools/merge_results2.py
