__pycache__
*/__pycache__
*/*/__pycache__
*.pyc 
*.png
tmp
exp
temp
weights
work_dir
work_dirs
coco128
*.zip
.vscode
exp*
python/jdet/data/devkits/polyiou

eggs/
.eggs/
*.egg-info/
*.egg
dist
develop-eggs/
build/
submit_zips
*.pth
*.jpg
.idea
*.swp
*.pkl
*.pk
test_configs
projects/*/test_datas*